<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="../../css/ct.css"/>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div id="wrap">
			<div id="header">
				<div class="topbar">
					<span class="ct-icon-angle-left" onclick="closeWin()" tapmode="" style="font-size: 40px;"></span>
					<span class="title">收货地址管理</span>
				</div>
			</div>			
			<div id="main"></div>
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/doT.min.js" ></script>
	<script type="text/javascript" src="../../script/common.js" ></script>
	<script type="text/javascript">
		function closeWin(){
			api.execScript({
				name: api.winName, 
				frameName: 'address_picker',
				script: 'closeWin()'
			});			
		}
		apiready = function(){
			var header = $api.byId('header');
			$api.fixIos7Bar(header);
			var main = $api.byId('main'),
					headerPos = $api.offset(header),
					mainPos = $api.offset(main);
					
			api.openFrame({
				name: 'address_picker',
				url: api.wgtRootDir + '/html/component/address_picker.html',
				bounces: false,
				rect: {
					x: 0,
					y: headerPos.h,
					w: 'auto',
					h: mainPos.h
				}
			});			
			api.addEventListener({
				name: 'keyback'
			}, function(ret, err){
				closeWin();
			});
		}
	</script>
</html>